# Create Bridge Toll Lane Type Database

## Purpose
Create a database that identifies the type of lane for each bridge toll plaza by hour of each day.  This database can then be joined with the FasTrak transaction log to understand changes in usage by vehicle type.

## Status (2016 03 09 dto)
Seems to be working

## General Procedures

#### Overhead

In [1]:
from datetime import date, timedelta as td
import csv
import pandas as pd

# Lane Categories
D = 'mostly hov'
M = 'mixed sov-hov'
N = 'mostly sov'
X = 'closed' # if open during carpool hours and closed during non-carpool hours

#### Create a generic method for writing out a block of data

In [2]:
def write_out_a_sequence(writer, plaza, start_date, end_date, carpool_switches, lane_carpool):
    
    date_range = end_date - start_date
    
    for date in range(date_range.days + 1):
        date_name = start_date + td(days = date)
        
        for hour_index in range(len(carpool_switches)):
            
            for lane_index in range(len(lane_carpool)):
                
                designation = M
                if carpool_switches[hour_index]:
                    designation = lane_carpool[lane_index]
                    
                row = [plaza, date_name, hour_index, (lane_index + 1), designation]
                writer.writerow(row)

#### Prepare the output file and generic data structures

In [3]:
# Prepare output file
output_file_name = 'M:/Data/BATA/Transactions by Lane/Bridge Toll Lane Type Database.csv'
output_file = open(output_file_name,'w')
output_writer = csv.writer(output_file, delimiter = ',')
output_writer.writerow(['plaza_name','date_string','hour_int','lane_id','lane_designation'])

# Define two car pool hour schemes 
carpool_until_7 = [False,  # midnight to 1 am
                   False,  # 1 am  to 2 am
                   False,  # 2 am  to 3 am
                   False,  # 3 am  to 4 am
                   False,  # 4 am  to 5 am
                   True,   # 5 am  to 6 am
                   True,   # 6 am  to 7 am
                   True,   # 7 am  to 8 am
                   True,   # 8 am  to 9 am
                   True,   # 9 am  to 10 am
                   False,  # 10 am to 11 am
                   False,  # 11 am to noon
                   False,  # noon  to 1 pm
                   False,  # 1 pm  to 2 pm
                   False,  # 2 pm  to 3 pm
                   True,   # 3 pm  to 4 pm
                   True,   # 4 pm  to 5 pm
                   True,   # 5 pm  to 6 pm
                   True,   # 6 pm  to 7 pm
                   False,  # 7 pm  to 8 pm
                   False,  # 8 pm  to 9 pm
                   False,  # 9 pm  to 10 pm
                   False,  # 10 pm to 11 pm
                   False]  # 11 pm to midnight 

carpool_until_6 = [False,  # midnight to 1 am
                   False,  # 1 am  to 2 am
                   False,  # 2 am  to 3 am
                   False,  # 3 am  to 4 am
                   False,  # 4 am  to 5 am
                   True,   # 5 am  to 6 am
                   True,   # 6 am  to 7 am
                   True,   # 7 am  to 8 am
                   True,   # 8 am  to 9 am
                   True,   # 9 am  to 10 am
                   False,  # 10 am to 11 am
                   False,  # 11 am to noon
                   False,  # noon  to 1 pm
                   False,  # 1 pm  to 2 pm
                   False,  # 2 pm  to 3 pm
                   True,   # 3 pm  to 4 pm
                   True,   # 4 pm  to 5 pm
                   True,   # 5 pm  to 6 pm
                   False,   # 6 pm  to 7 pm
                   False,  # 7 pm  to 8 pm
                   False,  # 8 pm  to 9 pm
                   False,  # 9 pm  to 10 pm
                   False,  # 10 pm to 11 pm
                   False]  # 11 pm to midnight

## Bridge-specific Routines

#### Antioch Bridge

In [4]:
#  1 Jan 2007 to 30 June 2010 
write_out_a_sequence(output_writer, 
                     'Antioch Bridge', 
                     date(2007,1,1), 
                     date(2010,6,30), 
                     carpool_until_7, 
                     [M,M,N])

# 1 July 2010 to 31 December 2016
write_out_a_sequence(output_writer, 
                     'Antioch Bridge', 
                     date(2010,7,1), 
                     date(2016,12,31), 
                     carpool_until_7, 
                     [N,N,D])

#### Richmond Bridge

In [5]:
#  1 Jan 2007 to 24 October 2007
write_out_a_sequence(output_writer, 
                     'Richmond Bridge', 
                     date(2007,1,1), 
                     date(2007,10,24), 
                     carpool_until_6, 
                     [N, N, N, M, N, N, N])

# 18 August 2007 to 24 October 2007
write_out_a_sequence(output_writer, 
                     'Richmond Bridge', 
                     date(2007,8,18), 
                     date(2007,10,24), 
                     carpool_until_6, 
                     [N, N, M, N, N, N, N])

# 25 October 2007 to 30 June 2010
write_out_a_sequence(output_writer, 
                     'Richmond Bridge', 
                     date(2007,10,25), 
                     date(2010,6,9), 
                     carpool_until_6, 
                     [N, N, M, N, N, M, N])

# 1 July 2010 to 31 December 2016
write_out_a_sequence(output_writer, 
                     'Richmond Bridge', 
                     date(2010,6,10), 
                     date(2016,12,31), 
                     carpool_until_7, 
                     [D, N, N, N, N, N, N])

#### Bay Bridge

In [6]:
# 1 January 2007 to 2 September 2009
write_out_a_sequence(output_writer, 
                     'Bay Bridge', 
                     date(2007,1,1), 
                     date(2009,9,2), 
                     carpool_until_7,
                     #1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 
                     [D, D, N, N, N, N, N, N, N, N, N, N, N, N, N, N, N, N, N, N, D, D])

# 3 September 2009 to 31 December 2016 
write_out_a_sequence(output_writer, 
                     'Bay Bridge', 
                     date(2009,9,3), 
                     date(2016,12,31), 
                     carpool_until_7,
                     #1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20  
                     [D, D, N, N, N, N, N, N, N, N, N, N, N, N, N, N, N, N, D, D])

#### San Mateo Bridge

In [7]:
# 1 January 2007 to 8 July 2007
write_out_a_sequence(output_writer, 
                     'San Mateo Bridge', 
                     date(2007,1,1), 
                     date(2007,7,8), 
                     carpool_until_6, 
                     #1  2  3  4  5  6  7  8  9 10
                     [M, N, N, N, N, N, N, N, N, N])

# 9 July 2007 to 30 June 2010
write_out_a_sequence(output_writer, 
                     'San Mateo Bridge', 
                     date(2007,7,9), 
                     date(2010,6,30), 
                     carpool_until_6, 
                     #1  2  3  4  5  6  7  8  9 10
                     [D, D, N, N, N, N, N, N, N, N])

# 1 July 2010 to 31 December 2016
write_out_a_sequence(output_writer, 
                     'San Mateo Bridge', 
                     date(2010,7,1), 
                     date(2016,12,31), 
                     carpool_until_7, 
                     #1  2  3  4  5  6  7  8  9 10
                     [D, D, N, N, N, N, N, N, N, N])

#### Dumbarton Bridge

In [8]:
# 1 January 2007 to 30 June 2010
write_out_a_sequence(output_writer, 
                     'Dumbarton Bridge', 
                     date(2007,1,1), 
                     date(2010,6,30), 
                     carpool_until_6, 
                     #1  2  3  4  5  6  7
                     [N, N, N, N, N, N, D])

# 1 July 2010 to 31 December 2016
write_out_a_sequence(output_writer, 
                     'Dumbarton Bridge', 
                     date(2010,7,1), 
                     date(2016,12,31), 
                     carpool_until_7, 
                     #1  2  3  4  5  6  7
                     [N, N, N, N, N, N, D])

#### Carquinez Bridge

In [9]:
# 1 January 2007 to 10 August 2007
write_out_a_sequence(output_writer, 
                     'Carquinez Bridge', 
                     date(2007,1,1), 
                     date(2007,8,10), 
                     carpool_until_7, 
                     #1  2  3  4  5  6  7  8  9 10 11 12
                     [N, N, N, N, N, D, N, N, N, N, N, N])

# 11 August 2007 to 24 October 2007
write_out_a_sequence(output_writer, 
                     'Carquinez Bridge', 
                     date(2007,8,11), 
                     date(2007,10,24), 
                     carpool_until_7, 
                     #1  2  3  4  5  6  7  8  9 10 11 12
                     [D, N, N, N, N, N, N, N, N, N, N, N])

# 25 October 2007 to 27 June 2010
write_out_a_sequence(output_writer, 
                     'Carquinez Bridge', 
                     date(2007,10,24), 
                     date(2010,6,27), 
                     carpool_until_7, 
                     #1  2  3  4  5  6  7  8  9 10 11 12
                     [D, N, N, N, N, N, N, N, N, N, M, N])

# 28 June 2010 to 31 December 2016
write_out_a_sequence(output_writer, 
                     'Carquinez Bridge', 
                     date(2010,6,28), 
                     date(2016,12,31), 
                     carpool_until_7, 
                     #1  2  3  4  5  6  7  8  9 10 11 12
                     [D, N, N, N, D, N, N, N, N, N, N, N])

#### Benicia Bridge

In [10]:
# 1 January 2007 to 25 August 2007
write_out_a_sequence(output_writer, 
                     'Benicia Bridge', 
                     date(2007,1,1), 
                     date(2007,8,25), 
                     carpool_until_7, 
                     #1  2  3  4  5  6  7  8  9
                     [N, N, N, M, M, N, N, N, N])

# 26 August 2007 to 13 June 2010
write_out_a_sequence(output_writer, 
                     'Benicia Bridge', 
                     date(2007,8,26), 
                     date(2010,6,13), 
                     carpool_until_7, 
                     #1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18
                     [N, N, M, N, N, N, N, N, N, X, X, N, N, X, X, X, D, X])

# 14 June 2010 to 31 December 2016
write_out_a_sequence(output_writer, 
                     'Benicia Bridge', 
                     date(2010,6,14), 
                     date(2016,12,31), 
                     carpool_until_7, 
                     #1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18
                     [N, N, D, N, N, N, N, N, N, N, N, N, N, N, N, D, D, D])

## Close up Shop

In [11]:
output_file.close();

#### Read data in as dataframe to print snippet

In [12]:
df_out = pd.read_csv(output_file_name)
df_out = df_out.dropna()
df_out[:20]

        plaza_name date_string  hour_int  lane_id lane_designation
0   Antioch Bridge  2007-01-01         0        1    mixed sov-hov
1   Antioch Bridge  2007-01-01         0        2    mixed sov-hov
2   Antioch Bridge  2007-01-01         0        3    mixed sov-hov
3   Antioch Bridge  2007-01-01         1        1    mixed sov-hov
4   Antioch Bridge  2007-01-01         1        2    mixed sov-hov
5   Antioch Bridge  2007-01-01         1        3    mixed sov-hov
6   Antioch Bridge  2007-01-01         2        1    mixed sov-hov
7   Antioch Bridge  2007-01-01         2        2    mixed sov-hov
8   Antioch Bridge  2007-01-01         2        3    mixed sov-hov
9   Antioch Bridge  2007-01-01         3        1    mixed sov-hov
10  Antioch Bridge  2007-01-01         3        2    mixed sov-hov
11  Antioch Bridge  2007-01-01         3        3    mixed sov-hov
12  Antioch Bridge  2007-01-01         4        1    mixed sov-hov
13  Antioch Bridge  2007-01-01         4        2    mixed sov-hov
14  Antioch Bridge  2007-01-01         4        3    mixed sov-hov
15  Antioch Bridge  2007-01-01         5        1    mixed sov-hov
16  Antioch Bridge  2007-01-01         5        2    mixed sov-hov
17  Antioch Bridge  2007-01-01         5        3       mostly sov
18  Antioch Bridge  2007-01-01         6        1    mixed sov-hov
19  Antioch Bridge  2007-01-01         6        2    mixed sov-hov